<template>
    <q-page>
        <q-header elevated>
        <q-toolbar>
          <q-avatar>
            <img src="https://cdn.quasar.dev/logo-v2/svg/logo-mono-white.svg">
          </q-avatar>

          <q-toolbar-title>Prueba de programación</q-toolbar-title>

          <q-btn flat round dense icon="whatshot" />
        </q-toolbar>
      </q-header>
    <div>
        <h2 class="text-center mb-1">Crud de productos</h2>
        <span class="text-center block">Crear un crud de productos utilizando Quasar framework y Laravel</span>
    </div>
    
    <div class="flex flex-center row reverse-wrap" style="max-width: 80%; margin: auto">
        <CrudForm ></CrudForm>
        <ProductTable />
    </div>
    </q-page>
  </template>
  
  <script>
  import { defineComponent, onMounted } from 'vue';
  import CrudForm from 'src/components/CrudForm.vue';
  import ProductTable from 'src/components/ProductTable.vue';
  import { getProducts } from 'src/services/CrudService';

  onMounted(() => {
    getProducts();
  })

  export default defineComponent({
    name: 'IndexPage',
    components: { CrudForm, ProductTable }
})
  </script>
  