<template>
    <div class="q-pa-lg col-grow">
  
      <q-form
        @submit="onSubmit"
        @reset="onReset"
        class="q-gutter-md"
      >
        <q-input
          filled
          v-model="nombre"
          label="Nombre"
          hint="Introduce el nombre del producto"
          lazy-rules
          :rules="[ val => val && val.length > 0 || 'Por favor llena el campo']"
        />

        <q-input
          filled
          v-model="tipo"
          label="Tipo"
          hint="Tipo de producto"
          lazy-rules
          :rules="[ val => val && val.length > 0 || 'Por favor llena el campo']"
        />

        <q-input
          filled
          type="number"
          v-model="precio"
          label="Precio"
          hint="Precio del producto"
          lazy-rules
          :rules="[ val => val && val.length > 0 || 'Please type something']"
        />
  
        <q-input
          filled
          type="number"
          v-model="cantidad"
          label="Cantidad"
          hint="Cantidad del producto"
          lazy-rules
          :rules="[
            val => val !== null && val !== '' || 'Please type your age',
            val => val > 0 && val < 100 || 'Please type a real age'
          ]"
        />
  
        <div>
          <q-btn label="Submit" type="submit" color="primary"/>
          <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm" />
        </div>
      </q-form>
  
    </div>
  </template>
  
  <script>
  import { ref } from 'vue'
  
  export default {
    setup () {
  
      const nombre = ref(null)
      const precio = ref(0)
      const tipo = ref(null)
      const cantidad = ref(0)
  
      return {
        nombre,
        precio,
        tipo,
        cantidad,
  
        onSubmit () {
          const form = {
            nombre: nombre.value,
            precio: Number(precio.value),
            tipo: tipo.value,
            cantidad: Number(cantidad.value)
          }
          console.log(form);
        },
  
        onReset () {
          nombre.value = null
          tipo.value = null
          cantidad.value = 0
          precio.value = 0
        }
      }
    }
  }
  </script>
  