<template>
    <div class="q-pa-md col-grow">
      <q-table
        title="Productos"
        class="my-sticky-header-table"
        :rows="rows"
        flat
        bordered
        :columns="columns"
        row-key="name"
      />
    </div>
  </template>

<style lang="sass">
.my-sticky-header-table
  height: 400px

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    background-color: dodgerblue
    color: #fff

  .q-field__native span, .q-table__bottom .q-btn
    color: #fff!important

  thead tr th
    position: sticky
    z-index: 1
  thead tr:first-child th
    top: 0

    top: 0px

    scroll-margin-top: 48px
</style>
  
  <script>
  const columns = [
    {
      name: 'nombre',
      required: true,
      label: 'Nombre',
      align: 'left',
      field: row => row.name,
      format: val => `${val}`,
      sortable: true
    },
    { name: 'tipo', align: 'center', label: 'Tipo', field: 'tipo', sortable: true },
    { name: 'precio', label: 'precio', field: 'precio', sortable: true, align: "center" },
    { name: 'cantidad', label: 'cantidad', field: 'cantidad', align: "center" },
  ]
  
  const rows = [
    {
      name: 'Yogurt',
      tipo: 'strawberry',
      precio: 0.56,
      cantidad: 1
    },
    {
      name: 'coca cola',
      tipo: '2lt',
      precio: 1.1,
      cantidad: 1
    },
    {
      name: 'Bicicleta',
      tipo: 'Bmx',
      precio: 300,
      cantidad: 1
    },
    {
      name: 'Teclado',
      tipo: 'Yamaha',
      precio: 110,
      cantidad: 1
    },
    {
      name: 'Guitarra',
      tipo: 'Ibanez',
      precio: 150,
      cantidad: 1
    },
    {
      name: 'Tarjeta grafica',
      tipo: 'Nvidia',
      precio: 200,
      cantidad: 1
    },
    {
      name: 'Tarjeta grafica',
      tipo: 'Nvidia',
      precio: 200,
      cantidad: 1
    },

    {
      name: 'Tarjeta grafica',
      tipo: 'Nvidia',
      precio: 200,
      cantidad: 1
    },


  ]
  
  export default {
    setup () {
      return {
        columns,
        rows
      }
    }
  }
  </script>
  